---
http_interactions:
- request:
    method: get
    uri: https://www.betradar.com/betradar/getXmlFeed.php?bookmakerName=username&deleteAfterTransfer=no&key=123456&xmlFeedName=Fixtures
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Content-Disposition:
      - inline; filename="USERNAME2015-8-19T12-48-56.XML"
      X-Srv:
      - core-prod-wwwvarnish3.ch.sportradar.ag
      X-Sbe:
      - getxml1
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <BetradarBetData><Timestamp CreatedTime="2015-08-19T10:48:56" TimeZone="UTC"/><Sports><Sport BetradarSportID="1"><Texts><Text Language="BET"><Value>Soccer</Value></Text><Text Language="en"><Value>Soccer</Value></Text></Texts><Category BetradarCategoryID="1"><Texts><Text Language="BET"><Value>England</Value></Text><Text Language="en"><Value>England</Value></Text></Texts><Tournament BetradarTournamentID="2"><Texts><Text Language="BET"><Value>Championship</Value></Text><Text Language="en"><Value>Championship</Value></Text></Texts><Match BetradarMatchID="7465838"><Fixture><Competitors><Texts><Text ID="5986" SUPERID="6" Type="1"><Text Language="BET"><Value>Burnley FC</Value></Text><Text Language="en"><Value>Burnley FC</Value></Text></Text></Texts><Texts><Text ID="7231210" SUPERID="50" Type="2"><Text Language="BET"><Value>Brentford FC</Value></Text><Text Language="en"><Value>Brentford FC</Value></Text></Text></Texts></Competitors><DateInfo><MatchDate>2015-08-22T14:00:00</MatchDate></DateInfo><StatusInfo><Off>0</Off></StatusInfo><NeutralGround>0</NeutralGround><RoundInfo><Round>4</Round></RoundInfo></Fixture><MatchOdds><Bet OddsType="01"><Odds OutCome="1" SpecialBetValue="0:1">4.44</Odds><Odds OutCome="X" SpecialBetValue="0:1">4.19</Odds><Odds OutCome="2" SpecialBetValue="0:1">1.5</Odds></Bet><Bet OddsType="02"><Odds OutCome="0:0">11.45</Odds><Odds OutCome="1:0">8.89</Odds><Odds OutCome="0:1">9.58</Odds><Odds OutCome="2:0">11.75</Odds><Odds OutCome="1:1">5.66</Odds><Odds OutCome="0:2">13.66</Odds><Odds OutCome="2:1">8.55</Odds><Odds OutCome="3:0">23.19</Odds><Odds OutCome="0:3">29.16</Odds><Odds OutCome="1:2">9.21</Odds><Odds OutCome=[...]
